* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f2f2f2;
    padding: 40px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card {
    background: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    position: relative;
    transition: 0.2s;
}

.card:hover {
    transform:translateY(-30px);
}

.card img {
    width: 100%;
    margin-bottom: 15px;
}

.card h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

.card button {
    background: #2ecc71;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.card button:hover {
    background: #27ae60;
}

/* Discount Badge */
.badge {
    position: absolute;
    top: 15px;
    left: 15px;
    background: #e0e0e0;
    padding: 8px 12px;
    text-align: center;
    border-radius: 5px;
}

.badge span {
    display: block;
    color: red;
    font-weight: bold;
    font-size: 18px;
}

.badge small {
    color: red;
    font-weight: bold;
}